<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{url_for('static',filename='vis.min.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
    <link href="{{ url_for('static', filename='vis.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='draw.js')}}"></script>
    
</head>
<body>
	{% extends "layout.html" %}
	{% block content %}
	
	<div class='standard'>
		
		<script>
			mst_dpath={{mst_dpath|tojson}};
			cst_dpath={{cst_dpath|tojson}};
			spd_dpath={{spd_dpath|tojson}};
			un_dpath={{un_dpath|tojson}};
		</script>
		
		<button id="analysis_ajax" class="button" style="float:right" onclick="getAnalysisValues(mst_dpath,cst_dpath,spd_dpath,un_dpath);">Compute Values</button>
		<div id='analysis_all_left' class='leftDiv' style="visibility:hidden">
			
			<h4>Distance matrix for n-dimensional points</h4>
			
			<h4>Unordered</h4>
			<div id="distmat-unordered"></div>
			
					
					
			<h4>Ordered</h4>
			<h4>MST</h4>
			<div id="distmat-mst"></div>
			
					
					
			<h4>CST</h4>
			<div id="distmat-cst"></div>
			
					
					
			<h4>SPD</h4>
			<div id="distmat-spd"></div>
			
					
					
			<h4>un</h4>
			<div id="distmat-un"></div>
			
			
			
		</div>

		<div id="analysis_all_right" class="rightDiv" style="visibility:hidden">
			<h4>Dimensions</h4>
			
			<h4>Unordered</h4>
			<div id="dimension-unordered" style="width: 100%; float: left"></div>
			
			<h4>Ordered</h4>
			<h4>MST</h4>
			<div id="dimension-mst" style="width: 100%; float: left"></div>
			<div id="enter_ordering-mst" style="float: left; clear: left">
				<h5>Enter ordering:</h5>
				<td><input type="text" id="entered_order-mst"></td>
				<td><input id="analyze_order-mst" type="button" value="Analyze"
					onclick="enteredOrdering('dimension-mst','distmat-mst','entered_order-mst');" /></td>
				<br>
			</div>
			
			
			
			
			<h4>CST</h4>
			<div id="dimension-cst" style="width: 100%; float: left"></div>
			<div id="enter_ordering-cst" style="float: left; clear: left">
				<h5>Enter ordering:</h5>
				<td><input type="text" id="entered_order-cst"></td>
				<td><input id="analyze_order-cst" type="button" value="Analyze"
					onclick="enteredOrdering('dimension-cst','distmat-cst','entered_order-cst');" /></td>
				<br>
			</div>
			
			
			
			<h4>SPD</h4>
			<div id="dimension-spd" style="width: 100%; float: left"></div>
			<div id="enter_ordering-spd" style="float: left; clear: left">
				<h5>Enter ordering:</h5>
				<td><input type="text" id="entered_order-spd"></td>
				<td><input id="analyze_order-spd" type="button" value="Analyze"
					onclick="enteredOrdering('dimension-spd','distmat-spd','entered_order-spd');" /></td>
				<br>
			</div>

			
			<h4>un</h4>
			<div id="dimension-un" style="width: 100%; float: left"></div>
			<div id="enter_ordering-un" style="float: left; clear: left">
				<h5>Enter ordering:</h5>
				<td><input type="text" id="entered_order-un"></td>
				<td><input id="analyze_order-un" type="button" value="Analyze"
					onclick="enteredOrdering('dimension-un','distmat-un','entered_order-un');" /></td>
				<br>
			</div>

		</div>
	
	</div>
	
	{% endblock %}
</body>
</html>