<!DOCTYPE html>
<html>
<body>
	{% extends "layout.html" %}
	{% block content %}
	
	<div id="column_b">
		<h4>Algorithm 1: Reconstruction of Temporal ordering</h4>
		<p>This implementation is given in: </p>
		<ul>
			<li>
				Paul M. Magwene, Paul Lizardi, Junhyong Kim; Reconstructing the temporal ordering of biological samples using microarray data,
				<i>Bioinformatics</i>, Volume 19, Issue 7, 1 May 2003
				<br>
				<a href="https://academic.oup.com/bioinformatics/article/19/7/842/197339">Visit</a>
			</li>
		</ul>
		
		<h4>Algorithm 3: Discovering Biological Progression</h4>
		<p>This implementation is given in: </p>
		<ul>
			<li>
				Qiu P, Gentles AJ, Plevritis SK (2011) Discovering Biological Progression Underlying Microarray Samples,
				<i>PLOS Computational Biology</i>
				<br>
				<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1001123">Visit</a>
			</li>
		</ul>
		
		<h4>Algorithm 3: Cluster Ordering</h4>
		<p>This implementation is given in: </p>
		<ul>
			<li>
				Eshleman R, Singh R. Reconstructing the Temporal Progression of Biological Data using Cluster Spanning Trees,
				<i>IEEE transactions on nanobioscience</i>,2017
				<br>
				<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5498219/">Visit</a>
			</li>
		</ul>
		
	
	</div>
	
	
	
	{% endblock %}
</body>
</html>