<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="{{url_for('static',filename='draw.js')}}"></script>
</head>
<body>
	{% extends "layout.html" %}
	{% block content %}
	<div class='standardDiv'>
		<h1>Reconstruction of progression of samples following the same underlying procedure</h1>
		<p>This method uses a clustering approach on the sampled data points to extract the set of samples with the most 
		progression similarity. The sample points belonging to the same biological process will have more progression similarity.
		The method will give a progression of such data points.</p>
		
		<form method=post>
      		<p>
      		Select Parameters for method:
      		Consensus clustering parameter L: <input type="text" name="L" maxlength="4" size="4" value="10"><br>
      		Threshold for Clustering c: <input type="text" name="c" maxlength="4" size="4" value="0.8"><br>
      		P-value for concordance measurement: <input type="text" name="p" maxlength="4" size="4" value="0.002"><br>
      		Number of modules for final progression: <input type="text" name="mod" maxlength="4" size="4" value="5"><br>
        	<input type=submit value="Use method on uploaded data">
        	</p>
    	</form>
	</div>
	{% endblock %}
</body>
</html>