<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="{{url_for('static',filename='vis.min.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
    <link href="{{ url_for('static', filename='vis.min.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='draw.js')}}"></script>
    
</head>
<body>
	{% extends "layout.html" %}
	{% block content %}
	
	<div class='standard'>
		<h1>Results</h1><br>
		<button id="compute_results" class="button" style="float:right" onclick="computeResultsFinal(paramDict,methodName);">Compute Values</button>
<!-- 		<a href="/get_file/" target="blank"><button class='btn btn-default'>Download!</button></a> -->
<!-- 		<a href="jellyrolltest1.txt" download> -->
			<a href = {{ url_for('download_file',filename='results.txt') }}>Download</a>
<!-- 			<button>Download</button> -->
		</a>
		<script>
			var paramDict = {{paramDict|tojson}};
			var methodName = '{{method_name}}';
			
		</script>
		<button class="collapsible">View Unordered Data</button>
		<div class="content">
			<input id="saved_unordered" name="order" type="hidden">
			<div class='leftDiv' id='resultsLeftAnalysis1'>
				<div class="draw" id="distmat_unordered" style="float: left; clear: left"></div>
				<input type="checkbox" id="changeDistMatUnordered" name="treeview"
					value="ordered" onclick="drawTransposedMatrix('distmat_unordered','saved_unordered','changeDistMatUnordered')">View
				distance matrix for dimensions across all data samples
			</div>
			<div id="resultsRightAnalysis1" class="rightDiv">
				<div class="draw" id="dimension_unordered" style="float: left; clear:left"></div>
			</div>
		</div>

		<div id="mst1" style="display: none">
			<input id="savedorder1" name="order" type="hidden">
			<input type="hidden" id="mstmethod1">
			<div class='leftDiv' id='resultsLeft1'>
				<p id="mstLabel1"></p>
				<div class="draw" id="mynetwork1" style="visibility: visible"></div>
				<div class="draw" id="myorderednetwork1"
					style="visibility: hidden; margin-top: -35em"></div>
				<p id="demo"></p>
				<input type="checkbox" id="ordered1" name="treeview" value="ordered"
					onclick="treeView('myorderednetwork1','mynetwork1','ordered1')">Tree
				showing specific order
				<button id="progMatButton1" class="collapsible" style="display:none">View Progression Similarity Matrix</button>
				<div class="content">
					<div class="draw" id="progmat1" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="resultsRight1" class="rightDiv">
				<p id="pcaLabel1"></p>
				<div class="draw" id="pca1" style="float: left; clear: left"></div>
			</div>
			
			<button class="collapsible">View Extra Analysis</button>
			<div class="content">
				<div class='leftDiv' id='resultsLeftAnalysis1'>
					<div class="draw" id="distmat1" style="float: left; clear: left"></div>
					<input type="checkbox" id="changeDistMat1" name="treeview"
						value="ordered" onclick="drawTransposedMatrix('distmat1','savedorder1','changeDistMat1')">View
					distance matrix for dimensions across all data samples
					<button class="collapsible">View Indecisive Backbone</button>
					<div class="content">
						<p>Indecisive Backbone for the Diameter Path - Basis for
							computation of alternative orderings
						<p>
						<div class="draw" id="backbone1" style="float: left; clear: left"></div>
					</div>
				</div>
				<div id="resultsRightAnalysis1" class="rightDiv">
					<div class="draw" id="dimension1" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="pqContent">
				<div class='leftDiv' id='resultsLeftPQ1'>
					<div class="pqContainer" style="float: left; clear: left">
						<h4>
							Noise Percentage: <input type="text" id="noise1"
								style="border: 0" /><br> Sampling intensity: <input
								type="text" id="intensity1" style="border: 0" /><br>
							Select your threshold percent for noise:
						</h4>
						<div id="sliderElem1" class="slidecontainer"
							style="visibility: visible">
							<input type="range" min="1" max="100" value="50" class="slider"
								id="myRange1" name="name_of_slider"> <input
								type="hidden" id="hiddenNoise"> <input
								id="clickMeSlider1" type="button" value="Compute"
								onclick="sliderFunction('noise1','myRange1','pq1','message1');" />
							<p>
								Value: <span id="slide1"></span>
							<p id="message1"></p>
						</div>
						<script>
							var sliderMST1 = document.getElementById("myRange1");
							var outputMST1 = document.getElementById("slide1");
							outputMST1.innerHTML = sliderMST1.value;
							
							sliderMST1.oninput = function() {
							  outputMST1.innerHTML = this.value;
							}
						</script>
					</div>
				</div>
				<div id="resultsRightPQ1" class="rightDiv">
					<div id="pq1" class="pqContainer"
						style="float: left; clear: left; visibility: hidden">
						<h4>Candidate Orderings for samples generated using PQ trees</h4>
						<h5>Enter the number of alternative orderings to display:</h5>
						<td><input type="text" id="pqno1" maxlength="4" size="4"></td>
						<td><input id="clickMePQ1" type="button" value="Compute"
							onclick="computePQFinal(paramDict,'mstmethod1','pqno1','pqorder1','orders1','pq1','myorderednetwork1','mynetwork1','pca1','distmat1',
							'dimension1','changeDistMat1','savedorder1');" /></td>
						<br>
						<p id="totalPQ1"></p>
						<br>
						<p id="pqorder1"></p>
						<br>
					</div>
				</div>
			</div>
		</div>


		<div id="mst2" style="clear: left;display: none">
			<input id="savedorder2" name="order" type="hidden"> <input
				type="hidden" id="mstmethod2">
			<div class='leftDiv' id='resultsLeft2'>
				<p id="mstLabel2"></p>
				<div class="draw" id="mynetwork2" style="visibility: visible"></div>
				<div class="draw" id="myorderednetwork2"
					style="visibility: hidden; margin-top: -35em"></div>
				<p id="demo"></p>
				<input type="checkbox" id="ordered2" name="treeview" value="ordered"
					onclick="treeView('myorderednetwork2','mynetwork2','ordered2')">Tree
				showing specific order
				
				<button id="progMatButton2" class="collapsible" style="display:none">View Progression Similarity Matrix</button>
				<div class="content">
					<div class="draw" id="progmat2" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="resultsRight2" class="rightDiv">
				<p id="pcaLabel2"></p>
				<div class="draw" id="pca2" style="float: left; clear: left"></div>
			</div>

			<button class="collapsible">View Extra Analysis</button>
			<div class="content">
				<div class='leftDiv' id='resultsLeftAnalysis2'>
					<div class="draw" id="distmat2" style="float: left; clear: left"></div>
					<input type="checkbox" id="changeDistMat2" name="treeview"
						value="ordered"
						onclick="drawTransposedMatrix('distmat2','savedorder2','changeDistMat2')">View
					distance matrix for dimensions across all data samples
					<button class="collapsible">View Indecisive Backbone</button>
					<div class="content">
						<p>Indecisive Backbone for the Diameter Path - Basis for
							computation of alternative orderings
						<p>
						<div class="draw" id="backbone2" style="float: left; clear: left"></div>
					</div>
				</div>
				<div id="resultsRightAnalysis2" class="rightDiv">
					<div class="draw" id="dimension2" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="pqContent">
				<div class='leftDiv' id='resultsLeftPQ2'>
					<div class="pqContainer" style="float: left; clear: left">
						<h4>
							Noise Percentage: <input type="text" id="noise2"
								style="border: 0" /><br> Sampling intensity: <input
								type="text" id="intensity2" style="border: 0" /><br>
							Select your threshold percent for noise:
						</h4>
						<div id="sliderElem2" class="slidecontainer"
							style="visibility: visible">
							<input type="range" min="1" max="100" value="50" class="slider"
								id="myRange2" name="name_of_slider"> <input
								type="hidden" id="hiddenNoise"> <input
								id="clickMeSlider2" type="button" value="Compute"
								onclick="sliderFunction('noise2','myRange2','pq2','message2');" />
							<p>
								Value: <span id="slide2"></span>
							<p id="message2"></p>
						</div>
						<script>
							var sliderMST2 = document.getElementById("myRange2");
							var outputMST2 = document.getElementById("slide2");
							outputMST2.innerHTML = sliderMST2.value;
							
							sliderMST2.oninput = function() {
							  outputMST2.innerHTML = this.value;
							}
						</script>
					</div>
				</div>
				<div id="resultsRightPQ2" class="rightDiv">
					<div id="pq2" class="pqContainer"
						style="float: left; clear: left; visibility: hidden">
						<h4>Candidate Orderings for samples generated using PQ trees</h4>
						<h5>Enter the number of alternative orderings to display:</h5>
						<td><input type="text" id="pqno2" maxlength="4" size="4"></td>
						<td><input id="clickMePQ2" type="button" value="Compute"
							onclick="computePQFinal(paramDict,'mstmethod2','pqno2','pqorder2','orders2','pq2','myorderednetwork2','mynetwork2','pca2','distmat2',
							'dimension2','changeDistMat2','savedorder2');" /></td>
						<br>
						<p id="totalPQ2"></p>
						<br>
						<p id="pqorder2"></p>
						<br>
					</div>
				</div>
			</div>
		</div>

		
		<div id="mst3" style="clear: left;display: none">
			<input id="savedorder3" name="order" type="hidden"> <input
				type="hidden" id="mstmethod3">
			<div class='leftDiv' id='resultsLeft3'>
				<p id="mstLabel3"></p>
				<div class="draw" id="mynetwork3" style="visibility: visible"></div>
				<div class="draw" id="myorderednetwork3"
					style="visibility: hidden; margin-top: -35em"></div>
				<p id="demo"></p>
				<input type="checkbox" id="ordered3" name="treeview" value="ordered"
					onclick="treeView('myorderednetwork3','mynetwork3','ordered3')">Tree
				showing specific order
				<button id="progMatButton3" class="collapsible" style="display:none">View Progression Similarity Matrix</button>
				<div class="content">
					<div class="draw" id="progmat3" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="resultsRight3" class="rightDiv">
				<p id="pcaLabel3"></p>
				<div class="draw" id="pca3" style="float: left; clear: left"></div>
			</div>

			<button class="collapsible">View Extra Analysis</button>
			<div class="content">
				<div class='leftDiv' id='resultsLeftAnalysis3'>
					<div class="draw" id="distmat3" style="float: left; clear: left"></div>
					<input type="checkbox" id="changeDistMat3" name="treeview"
						value="ordered"
						onclick="drawTransposedMatrix('distmat3','savedorder3','changeDistMat3')">View
					distance matrix for dimensions across all data samples
					<button class="collapsible">View Indecisive Backbone</button>
					<div class="content">
						<p>Indecisive Backbone for the Diameter Path - Basis for
							computation of alternative orderings
						<p>
						<div class="draw" id="backbone3" style="float: left; clear: left"></div>
					</div>
				</div>
				<div id="resultsRightAnalysis3" class="rightDiv">
					<div class="draw" id="dimension3" style="float: left; clear: left"></div>
				</div>
			</div>

			<div id="pqContent">
				<div class='leftDiv' id='resultsLeftPQ3'>
					<div class="pqContainer" style="float: left; clear: left">
						<h4>
							Noise Percentage: <input type="text" id="noise3"
								style="border: 0" /><br> Sampling intensity: <input
								type="text" id="intensity3" style="border: 0" /><br>
							Select your threshold percent for noise:
						</h4>
						<div id="sliderElem3" class="slidecontainer"
							style="visibility: visible">
							<input type="range" min="1" max="100" value="50" class="slider"
								id="myRange3" name="name_of_slider"> <input
								type="hidden" id="hiddenNoise"> <input
								id="clickMeSlider3" type="button" value="Compute"
								onclick="sliderFunction('noise3','myRange3','pq3','message3');" />
							<p>
								Value: <span id="slide3"></span>
							<p id="message3"></p>
						</div>
						<script>
							var sliderMST3 = document.getElementById("myRange3");
							var outputMST3 = document.getElementById("slide3");
							outputMST3.innerHTML = sliderMST3.value;
							
							sliderMST3.oninput = function() {
							  outputMST3.innerHTML = this.value;
							}
						</script>
					</div>
				</div>
				<div id="resultsRightPQ3" class="rightDiv">
					<div id="pq3" class="pqContainer"
						style="float: left; clear: left; visibility: hidden">
						<h4>Candidate Orderings for samples generated using PQ trees</h4>
						<h5>Enter the number of alternative orderings to display:</h5>
						<td><input type="text" id="pqno3" maxlength="4" size="4"></td>
						<td><input id="clickMePQ3" type="button" value="Compute"
							onclick="computePQFinal(paramDict,'mstmethod3','pqno3','pqorder3','orders3','pq3','myorderednetwork3','mynetwork3','pca3','distmat3',
							'dimension3','changeDistMat3','savedorder3');" /></td>
						<br>
						<p id="totalPQ3"></p>
						<br>
						<p id="pqorder3"></p>
						<br>
					</div>
				</div>
			</div>
		</div>
		
		

	</div>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var content = this.nextElementSibling;
		    if (content.style.display === "block") {
		      content.style.display = "none";
		    } else {
		      content.style.display = "block";
		    }
		  });
		}
</script>

	{% endblock %}
</body>
</html>