<!DOCTYPE html>
<html>
	<head>
    	<title>Flask app</title>
    	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
  	</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><span>Temporal Ordering Algorithms for Biological Samples</span></h1>
   
          <ul class="menu">
            <li><span><a href="{{ url_for('citation') }}">Citation</a></span></li>
          </ul>
          
          <ul class="menu">
            <li><span><a href="{{ url_for('home') }}">Home</a></span></li>
          </ul>
          
      </div>
    </header>
    <div id="standard">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
    	
    </div>
  </body>
</html>