<!DOCTYPE html>
<html>
<body>
	{% extends "layout.html" %}
	{% block content %}
	
	<h1>Methods</h1>          
		<dl>
			<dt><b>Method 1:</b></dt>
			<dd><li><a href="{{ url_for('mst') }}" target="_blank"> Minimum Spanning Tree Approach</a></li></dd>
			
			<dt><b>Method 2:</b></dt>
			<dd><li><a href="{{ url_for('clusterMST') }}" target="_blank">Clustering and Minimum Spanning Tree - use to get set of sample points showing progression similarity and associated with a similar underlying process </a></li></dd>
			
			<dt><b>Method 3:</b></dt>
			<dd><li><a href="{{ url_for('cluster_ordering') }}" target="_blank">Cluster Ordering</a></li></dd>
		</dl>
	
	
	
	{% endblock %}
</body>
</html>