<!DOCTYPE html>
<html>
<body>
	{% extends "layout.html" %}
	{% block content %}
	<div class='standardDiv'>
		<h1>Use of PQ trees to get uncertainties and candidate orderings for noisy data</h1>
		<p>This method uses a data structure called PQ tree to estimate the uncertainties in the dataset if the data is noisy.
		If the ordered graph constructed using the MST approach has non-uniform branch distribution and a high noise to signal ratio, use
		this method to get permutations of probable orderings of data samples. Permutations are due to the nature of interior nodes of the tree.
		The P-nodes have a minimum of two children with relaxed ordering, while the Q-nodes have a minimum of three children with only strict reversal of child nodes.</p>
		<h4></h4>
		<form method=post>
      		<p>
        	<input type=submit value="Use method on uploaded data">
        	</p>
    	</form>
	</div>
	{% endblock %}
</body>
</html>