<!DOCTYPE html>
 <html lang="en">
 
 <head>
     
 
     <title>Signin Template for Bootstrap </title>
 
 	 <script type="text/javascript" src="{{url_for('static',filename='jquery-3.3.1.min.js')}}"></script>
	 <script type="text/javascript" src="{{url_for('static',filename='tryall.js')}}"></script>
	 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
 </head>
 
 <body>
 
     <div class="container" style="width:100%">
 	 	
 	 	<div id="dimension" style="width:100%"></div>
     	
     	<script>
     	var data={{data|tojson}};
     	threed(data);
     	</script>
     	
      
     </div>
   
 </body>
 
 </html>