<!DOCTYPE html>
<html>
<head>
    
    <link href="{{ url_for('static', filename='vis.min.css') }}" rel="stylesheet" type="text/css" />
    
    <style>
		table, td {
    	border: 1px solid black;
		}
	</style>
</head>
<body>
	
	
	<div class='standard'>
		<p id="demo"></p>
		<p id="demo1"></p>
		
		<div style="overflow:scroll;height:480px;width:380px;overflow:auto;float: left">
			<h1>Input Sample Order:</h1><br>
			<table id="ip-table" border="0" >
	     		<tr>
	     		</tr>
	
			</table>
			<br>
		</div>
		
		<div style="overflow:scroll;height:480px;width:380px;overflow:auto;float: right">
			<h1>Output Sample Order:</h1><br>
			<table id="op-table" border="0" >
	     		<tr>
	     		</tr>
	
			</table>
		</div>
		
		<script type="text/javascript" src="{{url_for('static',filename='draw.js')}}"></script>
		<script>
			var ip= {{ input|tojson }};
			var ord={{ order|tojson }};
			//document.getElementById("demo").innerHTML = '<pre>' + JSON.stringify(ip, null, 4) + '</pre>';
			
			//document.getElementById("demo1").innerHTML = JSON.stringify(ord);
			
			tableFunctIp(ip);
			tableFunctOp(ord,ip);
			
		</script>
		
	</div>
	
		
	
	
</body>
</html>